.banner_img{
  width: 100vw;
  margin-top: 10vh;
}

.banner_image_container{
  border-bottom: 1px solid black;
}

@media (min-width: 744px) {
  .banner_image_container{
    width: 100vw;
  }

  .banner_img{
    max-width: 75%;
  }
}