
.clients_title{
  font-size: 1.5rem;
  width: 100%;
  background-color: rgb(164, 82, 52);
  text-align: center;
  padding: 1rem 0;
  border-bottom: 1px solid black;
  margin: 0 0;
}
/* .carusel_container{
  width: 100%;
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
  padding: 24px;
  gap: 12px;
  scroll-padding: 24px;
  margin-top: 3rem;
} */

@media (min-width: 770px) {
  .carusel_container{
    margin-top: 1rem;
  }
}
.item{
  width: 25%;
  min-width: 128px;
}

@media (max-width: 770px) {
  .item{
    width: 30%;
  }
}
