.computer_navbar{
  display: flex;
  position: fixed;
  height: 45px;
  background-color: rgb(164, 82, 52);
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  z-index: 10;
  
}

.computer_navbar div a{
  text-decoration: none;
  color: black;
  scroll-behavior: smooth;
}

@media (max-width: 770px) {
  .computer_navbar{
    display: none;
  }
}

.computer_title{
  background-color: rgb(229, 217, 170);
  padding: .3rem 1rem;
  border-radius: 8px;
  font-size: 1.1rem;
  width: 12%;
  text-align: center;
}

.computer_title:hover{
  transform: scale(1.1);
}
