
footer{
  background-color: rgb(164, 82, 52);
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 770px) {
  footer{
    flex-direction: column;
    align-items: center;
  }
}

.footer_logo{
  width: 100px;
  margin: auto 1rem;
  border-radius: 8px;
  flex: 0 0 30%;
  max-width: 254px;
}

@media (max-width: 770px) {
  .footer_logo{
    display: none;
  }
}

.social_media_instagram_container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: auto;
}

.social_media_instagram_container img{
  width: 30px;
  height: 30px;
  margin-right: 1rem;
}
.social_media_instagram_container p {
  font-size: 1.3rem;
}

.footer_social_media p{
  font-size: 1.2rem;
  text-align: center;
}

.footer_location_info{
  font-size: 1.3rem;
  text-align: center;
}

.location_city{
  margin-bottom: 0;
}
