
footer{
  background-color: rgb(164, 82, 52);
  padding: 2rem 1rem;
}

.footer_logo_and_contactinfo_container{
  display: flex;
}

.footer_logo{
  width: 100px;
  margin: auto 1rem;
  border-radius: 8px;
}
@media (min-width: 400px) {
  .footer_logo{
    flex: 0 0 20%;
  }
}

.footer_contact_information{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

@media (min-width: 400px) {
  .footer_contact_information{
    flex-direction: row;
    flex: 0 0 80%;
  }
}

.contact_card_container{
  flex: 0 0 40%;
}

.contact_card_name{
  margin: 0;
  font-size: 1.2rem;
}

.contact_card_info{
  font-size: 1.1rem;
}

.social_media_instagram_container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: auto;
}

.social_media_instagram_container img{
  width: 30px;
  height: 30px;
  margin-right: 1rem;
}
.social_media_instagram_container p {
  font-size: 1.3rem;
}

.footer_social_media p{
  font-size: 1.2rem;
  text-align: center;
}

.footer_location_info{
  font-size: 1.3rem;
  text-align: center;
}

.location_city{
  margin-bottom: 0;
}
