/*Card styling*/
.services_title{
  text-align: center;
  background-color: rgb(164, 82, 52);
  margin: 0px 0px;
  font-size: 2rem;
  padding: 2rem 0rem;
  border-bottom: 3px solid black;;
}

.service_card_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  margin: 1rem auto;
  border: 2px solid black;
}

.service_card_title_container{
  display: flex;
  background-color:  rgb(161, 163, 127);
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 0rem;
  border-bottom: 2px solid black;
}

.service_card_title_container img{
  width: 90px;
}

.service_card_title{
  font-size: 1.2rem;
}

.service_card_description_container{
  width: 80%;
}

.service_card_description{
  font-size: 1.3rem;
  margin: 3rem 0;
}

.service_card_images_container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:  rgb(229, 217, 170);
  border-top: 2px solid black;
}

.service_card_images_container img{
  width: 200px;
  margin: 1rem;
}

.we_are{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid black;
}

.we_are_title{
  font-size: 2rem;
  width: 100%;
  background-color: rgb(164, 82, 52);
  text-align: center;
  padding: 2rem 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 0 0;
}

.we_are_description{
  width: 90%;
  font-size: 1.5rem;
}

.clients_container{
  display:flex;
  flex-direction: column;align-items: center;
}

.clients_title{
  font-size: 2rem;
  width: 100%;
  background-color: rgb(164, 82, 52);
  text-align: center;
  padding: 2rem 0;
  border-bottom: 2px solid black;
  margin: 0 0;
}

.carusel_container{
  width: 100vw;
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
  padding: 24px;
  gap: 12px;
  scroll-padding: 24px;
  margin-top: 3rem;
}

.carusel_container .item{
  width: 150px;
  flex: 0 0 50px;
  scroll-snap-align: start;
}

.contact_me_title{
  font-size: 2rem;
  width: 100%;
  background-color: rgb(164, 82, 52);
  text-align: center;
  padding: 2rem 0;
  border-bottom: 2px solid black;
  border-TOP: 2px solid black;
  margin-top: 2rem;
  margin-bottom: 0;
}

.contact_me_form{
  background-color:  rgb(229, 217, 170);
  padding: 2rem;
  border-bottom: 2px solid black;
  margin-bottom: 0;
}

label{
  font-size: 1.2rem;
}

input{
  width: 70%;
  height: 2rem;
  margin: 1rem 0;
  border-style: none;
  border-radius: 8px;
  border-bottom: 2px solid rgb(52, 37, 37);
}

textarea{
  width: 100%;
  margin: 1rem 0;
  height: 6rem;
  border-style: none;
  border-radius: 8px;
  border-bottom: 2px solid rgb(52, 37, 37);
}

form button{
  width: 40%;
  height: 2.5rem;
  font-size: 1.5rem;
  background-color: rgb(161, 163, 127);
  border-style: none;
  border-radius: 8px;
  border-bottom: 2px solid rgb(52, 37, 37);
  border-right: 2px solid rgb(52, 37, 37);
}

.button:hover{
  cursor: pointer;
  transform: scale(1.2);
}

footer{
  background-color: rgb(164, 82, 52);
  padding: 1rem;
}

.footer_contact_information{
  display: flex;
  justify-content: space-evenly;
}

.contact_card_container{
  flex: 0 0 40%;
}

.contact_card_name{
  margin: 0;
}

.location_city{
  margin-bottom: 0;
}